<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestTopMostView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF912B541EB627FE007697BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF912B6D1EB627FE007697BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF912B781EB627FF007697BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
